spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    properties.hibernate.temp.use_jdbc_metadata_defaults: false
    show-sql: true
cors:
  origin: origin_url
security:
  admin:
    fullName: Administrator full name
    email: Administrator email